doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Country API

    // Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap")
    link(
      rel="stylesheet",
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css",
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp",
      crossorigin="anonymous"
    )

    // Styles
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    link(rel="stylesheet", href="css/styles.css")

  body
    header
      nav.navbar
        .navbar__content
          h1 Where in the world?
          button.button--fab(type="button"): i.fas.fa-moon
      
      .container.filter__container
        .search__container
          input#search.form__input.search__input(
            type="search",
            name="search",
            placeholder="Search for a country..."
          )
          button.button--fab(type="button")
            ion-icon(name="search")

        .country__options
          select.country__selected(name="countries") 
            option.country__option(value="default", selected, disabled) Filter by Region
            option.country__option(value="africa") Africa
            option.country__option(value="america") America
            option.country__option(value="europe") Europe
            option.country__option(value="oceania") Oceania
    
    main.container.section
      section.card__container

    script(src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js")
    script(src="js/script-min.js")

      